.contact_list p{
	margin:0;
}
footer .footer-container .contact-block .phone {
	margin-top:5px;
	margin-bottom:20px;
}


/* contact form */
.contacts {
	margin-bottom: 40px;
}	
/*.contacts h2 {
	font: 400 32px/42px "Ubuntu", sans-serif; 
}
.contacts h2.widget-title {
margin-top:35px;
  margin-bottom: 40px;
}*/
.contacts .form-group {
  margin-bottom: 20px;
}
.contacts  .form-control {
	font-size:16px;
	line-height: 2;
}
.contacts textarea {
	resize:vertical;
}	
.contacts .captcha-img {
	max-width: 180px;
	opacity: 0.6;
}	
.contacts input[name="captcha_word"] {
	height:50px;
	text-align:center;
}
.contacts .form-control:focus { 
	border: 1px solid #A8E0A8;
	-webkit-box-shadow: 0 0 8px rgba(117,185,51, 0.75);
  box-shadow: 0 0 8px rgba(117,185,51, 0.75);
	background-color: rgba(204,204,204,0.15);
}
.contacts input[type="submit"] {
	padding:8px 10%;
	float:right;
	font-size: 20px;
	border: 1px solid #75b933;
}
.contacts input[type="submit"]:focus{
	border: 1px solid #75b933;
	background-color: #75b933;
}


/* page-title */
.categories-li.item-selected>a {
	color: #75b933 !important;
}
.categories-li.item-selected>a:hover {
	color: #fff !important;
}
.content {
	font-size: 14px;
  line-height: 1.5;
}
.content h1 {
	font: 400 32px/42px "Ubuntu", sans-serif;
	margin-top:35px;
	margin-bottom:40px;
}
.content h2 {
	font: 400 24px/42px "Ubuntu", sans-serif;
	margin-top:35px;
	margin-bottom:40px;
}
.content h1:after, .content h2:after{
	content: " ";
	/*border-top: 1px solid #ccc;*/
	width: 80px;
	margin: 10px 0 20px;
	height: 3px;
	color: #75b933;
	background-color: #75b933;
	display: block;
}
.content p {	
	margin: 10px 0 30px;
}

/* contacts page */
.address-block {
	margin-bottom: 50px;
	font-size: 16px;
	line-height:1.5;
}

.address-block h3 {
	font-size:18px;
	margin-bottom:20px;
}
.address-block div {
	padding-left:40px;
	margin-bottom: 10px;
}
.address-block div>a {
	color:rgb(119, 119, 119);
}
.address-block div>a:hover {
	color:#75b933;
}
.address-block .address {
	background:url(../../../../images/map-marker.svg) left top no-repeat;
}
.address-block .phone {
	background:url(../../../../images/phone.svg) left top no-repeat;
}
.address-block .email {
	background:url(../../../../images/email-outline.svg) left top no-repeat;
}
.address-block .user {
	background: url(../../../../images/account.svg) left top no-repeat;
}

/**/
.vacancies-list {
	font-size:14px;
	line-height:1.5;
	/*display: inline-block;*/
	margin-bottom: 40px;	
}
.vacancies-list h2{
	font: 400 24px/30px "Ubuntu", sans-serif;
	margin-top:-10px;
	margin-bottom:20px;
	color:rgb(119, 119, 119);
}
.vacancies-list h2:after {
	content: " ";
	display: block;
	width:100%;
	height: 1px;
	color: #75b933;
	background-color: #ccc;	
}
.item-preview{
	margin-bottom:6rem;
}
.more-detail {
	margin: 10px 0;
  display: block;
}
.more-detail:link,.more-detail:focus, .more-detail:visited {
	color: #75b933;
}
.vacancies-list .btn {
	display: none;
	border: 1px solid #75b933;
	bottom: 50px;
  right: 25px;
  position: absolute;
}	



/* press page */
.news-list img{
	padding-top:5px;
}
.news-list h3 {
	margin-top:0px;
}	
.news-list .item {
	margin-bottom:40px;
}
.pnews-date {font-weight:400;}
.pnews h3 { margin-top:0; font-size: 16px;line-height:1.5;}
.pnews h3:after {
	content: " ";
	display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
	margin-top: 10px;
}		
.pnews p{text-align:justify;margin-bottom:40px;}


/* product page */
.prod-list1 {
	margin-bottom: 40px;
}	
.product-col {
	margin-bottom: 30px;
	height:350px;
	overflow:hidden;
}	
.product-col img {
	max-width:170px;
	max-height:170px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -moz-transform: scale(1);
}
.product-name {
	font: 400 16px/21px "Ubuntu", sans-serif;	
	color: #75b933;	
}	
.prod-info {
	overflow: hidden;
	position: absolute;
	bottom: 0;
	padding: 15px 15px 0 0;
	margin-bottom: 15px;
	height: 110px;
}
.prod-info .text{
	font: 400 14px/21px "Ubuntu", sans-serif !important;
  padding-top: 10px !important;
	border-top: 1px solid #e5e5e5;
}

#conditions {
	font-size: 16px;
}
.suppliers {
	margin-bottom:40px; 
}	
.suppliers a {
	margin-right:30px; 
}
.panel-lots {
	margin-top:30px;
}
table th, table td {
	vertical-align: top !important;
	text-align: left !important;
}
.go-lots {
	right: 0;
  position: absolute;
	font-weight:bold;
	padding-right:30px;
	background:url(../../../../images/arrow-right-bold-circle-outline.svg) right center no-repeat;
}

header .bottom {padding-top: 0; padding-bottom: 16px;}
#header_logo {height:60px;line-height:60px;}
#header_logo img{
	position: absolute;
  top: -4px;
  left: -12px;
}
#logonav	{
	/*position: absolute;*/
	/*border: 1px solid red;*/
	width: 518px;
	height: 95px;
	top: 0;
	left: 0;
	z-index:1000;
}
#header_logo span {
	top: 10px;
	left:20px;
	position: relative;
	font: 700 44px/18px "Ubuntu", sans-serif;
	color: rgba(101,101,101,1);
	
}
#header_logo .second-word {
	color: #098135;
	text-shadow: 0 0 2px #fff, 
	
    -1px -1px 0 rgba(255,186,4,1),
    -2px -2px 1px rgba(255,186,4,0.8),
    -2px -2px 2px rgba(151,151,151,0.5);	
}
.top_menu {
    margin-top: 16px;
}
.slider {
  margin-top: 40px;
	margin-bottom: 60px;	
}

/* banner block */
.block-banner {
	display:none;
	position:relative;
	/*
	
	-webkit-transition: background-image 1s ease-out 0.5s;
 -moz-transition: background-image 1s ease-out 0.5s;
 -o-transition: background-image 1s ease-out 0.5s;
 transition: background-image 1s ease-out 0.5s;*/
}
.banner0 {
}
.banner1 {
}
.banner2 {
}
.block-banner.activate {
	display:block;
}
.title-slogan {
	position:absolute;
	padding: 20px 40px;
	color:#fff;
	bottom:380px;
	left:5%;
	font-size:35px;
	background-color: rgba(0, 0, 0, 0.5);
	border-bottom:5px solid rgba(117, 185, 51, 1);
	z-index: 4;
	visibility: hidden;
}
.top-slogan {
	position:absolute;
	font-size:25px;
	color:#fff;
	background-color: rgba(117, 185, 51, 0.8);
	padding: 15px 40px;
  z-index: 2;
	visibility: hidden; /*display:none;*/
}
.slogan1 {
	bottom:170px;
	right:5%;
}
.slogan2 {
	bottom:110px;
	right:10%;
}
.slogan3 {
	bottom:50px;
	right:15%;
}

/* banner block */


#bgr-main {
	width:100%;
}
.bgr-inner {
	width:100%;
	min-height: 480px;
	height:auto;
	background-size: cover;
	background-position: center center;
  background-repeat: no-repeat;
	
-webkit-transition: background-image 1s ease-out 0.5s;
 -moz-transition: background-image 1s ease-out 0.5s;
 -o-transition: background-image 1s ease-out 0.5s;
 transition: background-image 1s ease-out 0.5s;	
}	
.bgr0 {background-image:url(../../../../images/s/slide1.png);} 
.bgr1 {background-image:url(../../../../images/s/slide5.png);}
.bgr2 {background-image:url(../../../../images/s/slide5.png);}
.bgr3 {background-image:url(../../../../images/s/slide3.jpg);}

.owl-wrapper {
	margin: 10px 80px 40px;
}
.owl-carousel  {
	width:100%;
	vertical-align: middle;
}
.ok-link {
	float: left;
	margin: 20px 0;
	font-size: 16px;
	padding-top: 2px;
	position: relative;
}
/*.top-slogan {
	position:absolute;
	top:15%;
	left:15%;
	line-height: 36px;
	font-size:28px;
	color:#fff;
	background-color: rgba(117, 185, 51, 0.8);
	padding: 15px 40px;
  z-index: 2;
}*/


.owl-theme .owl-controls {
	position: absolute;
	top: 18%;
	width: 100%;
}
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover{
	background-color: transparent;
	color:#75b933 !important;
	text-decoration:none;
}
.owl-theme .owl-controls .owl-nav  .owl-prev {
	position: absolute;
	left: -60px;
	width: 40px;
	height: 30px;
	display: block;
	background: url(../../../../images/menu-left.svg) left center no-repeat;
	background-size: cover;
	opacity:0.4;
}
.owl-theme .owl-controls .owl-nav  .owl-prev:hover {
	background: url(../../../../images/menu-left.svg) left center no-repeat;
	background-size: cover;
	opacity:1;
}
.owl-theme .owl-controls .owl-nav  .owl-next{
	position: absolute;
	right: -60px;
	width: 40px;
	height: 30px;
	display: block;
	background: url(../../../../images/menu-right.svg) right center no-repeat;
	background-size: cover;
	opacity:0.4;
}	
.owl-theme .owl-controls .owl-nav  .owl-next:hover {
	background: url(../../../../images/menu-right.svg) right center no-repeat;
	background-size: cover;
	opacity:1;
}
.owl-carousel .owl-item	{
  height: 90px;
}		
img.img-owl {
	max-width: 80%;
	max-height: 90px;
	height: auto;
	width: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  opacity: 0.7;
}
img.img-owl:hover {
	opacity:1;
}	

/* page about */
#aboutTabs {
	position: absolute;
	top:40px;
	left:150px;
}
#aboutTabs.nav-tabs {
	border-bottom:none;
}
#aboutTabs.nav > li {
	border-right:none;
}
#aboutTabs.nav-tabs > li.active > a {
	border:0;
}
#aboutTabs .dropdown-menu > .active > a, 
#aboutTabs .dropdown-menu > .active > a:hover, 
#aboutTabs .dropdown-menu > .active > a:focus {
  background-color: #75b933;
}

div.news-detail
{
	word-wrap: break-word;
	margin-top: 40px;
  margin-bottom: 40px;	
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}
.item-desc a {color:rgb(119, 119, 119) !important;}
.item-desc a:hover {color:rgba(106, 172, 52, 0.941176) !important;}

/*top2*/
#bs-menu-collapsible{/*float:right;*/}
.mega-menu {margin-top:15px;}
.navbar {min-height:60px;margin-bottom:0;}
.navbar-brand {padding-top:0;}
.agro-navbar .navbar-toggle .icon-bar { background-color: #888;}
.agro-navbar .navbar-toggle { border-color: #ddd;}

@media (min-width: 1200px) {
	#header_logo{ min-width:540px;}
	#header_menu{ max-width:660px;}
	.mega-menu > li > a {	font: 400 11.5px/42px "Ubuntu", sans-serif;}
}	
@media only screen and (max-width: 1199px) {
	#header_logo{ min-width:none;}
	#header_logo img{width:100%;position: relative; top: -15px; left: 0}
	#header_menu{ max-width:none;}
	.mega-menu {margin-top:70px;}
	.mega-menu > li > a {	font-size: 14.5px;padding: 0 9px;}
	#bs-menu-collapsible .dropdown {display:none;}
	.title-slogan { font-size: 28px; }
	.top-slogan { font-size: 18px;}
}	

@media only screen and (max-width: 660px) {

}